.espacio2{
    padding-top: 30px;
}
.total {
    margin-left: 847px;
}
.fondo2{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    color:#014F92;
    margin-bottom: 60px;
}
.fondo{
    background-color: white;
    border-radius: 16px 16px 16px 16px;
    width: 90%;
    margin-left: 6%;
    color:#014F92;
    margin-bottom: -36px;
    padding-bottom: 38px;
    }
.logo{
    margin-left: 35%;
    }
.fecha1{
    margin-left: 20px;
    width: 50px;
    }  
.fecha2{
    width: 50px;
    }  
.fecha3{
    width: 50px;
    margin-left: 20px;
    }  
th{
   color:#61CE70;
    }
tr {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
 
    }
.base {
    border: 1px solid grey;
    }
    .container {
        overflow-y: scroll !important;
        max-height: 500px !important;
        margin-top: 0px;
        width: 100%;
        margin-left: 0;
        background-color: white;
    }
.espacio{
    border-radius: 0px 0px 10px 10px !important;
    height: 100px !important;
    background-color: white;
    width: 80%;
    margin-left: 10%;
     }     
.datos1{
    width: 20%;
    margin-left: 15%;
    margin-top: 100px;
     }     
.datos2{
    margin-left: 5%;
    } 
body {
    font-size: 16px;
    font-family: monospace;
    background-color:#014F92;
     }
.filtros{
    margin-bottom: 10px; 
    margin-left:20% ;    
     }  
     table {
        padding: 0px 0px 0px 5%;
    }
 .titulo{
    margin-left:40% ;  
    }
scroll{
    overflow: hidden;
    overflow-y: scroll;
    }

.PDF {
    margin: 26px 0px 10px 1232px;
} table#tablaDatos {
    width: 100% !important;
}

div#tablaDatos_filter {
    margin-top: -50px;
    position: absolute;
    margin-left: 64px;
    color:#61CE70;
}div#tablaDatos_length {
    margin-top: -50px;
    position: absolute;
    margin-left: 1005px;
    color:#61CE70;
}div#tablaDatos_info {
    visibility: collapse;
    position: absolute;
}li#tablaDatos_previous {
    visibility: visible;
}li#tablaDatos_next {
    visibility: visible;
    margin-left: 120px;
}li.paginate_button.page-item {
    visibility: collapse;
    /* position: absolute; */
}a.page-link {
    color: white;
    text-decoration: none;
    border: 1px solid #014F92;
    border-radius: 6px;
    background: #014F92;
    padding: 5px;
}::marker {
    color: white;
}li#tablaDatos_next a.page-link {
    padding: 6px 19px 6px 19px;
}th.text-center.sorting {
    padding-left: 41px !important;
}th.sorting_asc {
    padding-left: 41px !important;
}th.text-center.sorting_desc {
    padding-left: 39px !important;
}th.sorting {
    padding-left: 39px !important;
}input.buscador {
    margin-bottom: 17px;
    margin-left: 122px;
}
td.dt-checkboxes-cell {
    margin-left: 0px;
}p {
    display: inline;
    color: #61CE70;
}p.texto-inicio {
    color: #61CE70;
    margin-left: 139px;
}p.texto {
    margin-left: 93px;
 }div#agregar2 {
    margin-left: 87px;
}input#caja1 { 
    width: 153px;
}ul.pagination {
    display: inline-flex;
}input#idTabla {
    visibility: collapse;
    position: absolute;
}button.eliminar {
    margin-right: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid #6EC1E4;
    border-radius: 6px;
    padding: 0px 3px;
    background: #d6d6d6;
}button.editar {
    margin-right: 5px;
    color: white;
    text-decoration: none;
    border: 1px solid #6EC1E4;
    border-radius: 6px;
    padding: 0px 3px;
    background: #d6d6d6;
}
button {
    color: white;
    text-decoration: none;
    border: 1px solid #6EC1E4;
    border-radius: 6px;
    padding: 0px 12px;
    background: #6EC1E4;
}.botones {
    display: inline-flex;
}dialog#modal {
    z-index: 10;
    margin-top: 308px;
    padding: 10px 150px 10px 150px;
    border: solid 1px;
    /* position: absolute; */
}form {
    margin-left: 83px;
 }div#Total_info {
    visibility: collapse;
}div#Total_length {
    visibility: collapse;
}div#Total_filter {
    visibility: collapse;
}table {
    padding: 0px 0px 0px 0px;
}input#idTabla2 {
    visibility: collapse;
    position: absolute;
}input#consultorTabla {
    visibility: collapse;
    position: absolute;
}spam.etiqueta1 {
    color: #61CE70;
    }input#seleccionado2 {
        width: 40px;
    }input#seleccionado2 {
        margin-left: -171px;
    }select#cbbox {
        margin-left: 100px;
    }input.imagen3 {
        display: none;
        position: absolute;
        margin-left: 860px;
        position: absolute;
        margin-top: -49px;

    }input#seleccionado3 {
        width: 144px;
    }.odd input {
        width: 75px;
    }.even input {
        width: 75px;
    }h4#segundotitulo {
        margin-bottom: -20px;
    }input#seleccionado {
        visibility: collapse;
    }h3 {
        color: #014F92;
    }td {
        color: black;
    }th:nth-child(5) {
        width: 459px !important;
    }td:nth-child(5) {
        width: 480px;
        text-align: justify;
    }table#tablaDatos {
        margin-bottom: 57px;
    }input#imagen5 {
        width: 15px;
    }table#Total {
        margin-left: 962px;
        margin-top: -65px;
    }td {
        border: 1px solid white;
    }table#tablaDatos {
        background: #C6C6C6;
    }td:nth-child(6) {
        width: 190px;
    }dialog#modal2 {
        margin-top: 368px;
    }input#imagen4 {
        width: 30px;
    }form.rolback {
        margin-top: -48px;
        position: absolute;
    }input#fechaTabla2 {
        visibility: collapse;
        position: absolute;
    }dialog#modal2 {
        border: none;
        box-shadow: 10px 10px 10px grey;
    }dialog#modal2 p {
        margin-left: 404px;
    }dialog#modal{
        border: none;
        box-shadow: 10px 10px 10px grey;
    }